.marksheet-top{ text-align: center; padding-top: 10px; }
.font30{font-size: 38px; color: #DB241E; padding: 20px; }
.font20{font-size: 24px;margin-top: -7px;
    font-weight: 700;
    color: #1A416c;
    border-bottom: 3px solid  #1A416c;}
    .tab-text{text-align: center;}

.bluclr{ color: #1A416c; padding-top: 63px; }
.bord1{border-bottom: 3px solid  #1A416c;}
.imgpad{padding-left: 42px;}

 .font18{ font-size: 20px; color: #1A416c; font-weight: 700; text-align: center;}
 .marksheet-mid{padding-top: 30px; }
 .bordbot{border-bottom: 3px solid  #1A416c;}
 .BLU{ color: #1A416c;}
 .tab-fot{ width: 100%; }

